@font-face {
  font-family: "fairfax-hd";
  src: local("Fairfax HD"),
    url("/static/wWCTxWtM5KGOcSxgcmfDyvtzVx38AuWVTPxrWA_WWnY.woff2");
  unicode-range: U+F1900-F19FF, U+FF900-FFABF, U+FFAC0-FFBFF, U+FFD00-FFDFF;
}

@font-face {
  font-family: "crisa";
  src: local("Crisa Regular"),
    url("/static/JGE6R1Q5Imt9eWtYjfe7dd20UieHOAavlrI1NwhJ1J0.woff2");
  font-weight: 400;
  unicode-range: U+ED80-EDBF;
}

@font-face {
  font-family: "crisa";
  src: local("Crisa Light"),
    url("/static/S4LO1GzFS5Ura0QKD4bO3aVQow0xWTdoys7A0kxNBZc.woff2");
  font-weight: 200;
  unicode-range: U+ED80-EDBF;
}

@font-face {
  font-family: "stenodisplay";
  src: local("Stenodisplay ClassicLarge"),
    url("/static/RX3jXnJtuxUCAchwIbRj51-L_MwIQYRAeCYAa4soOUw.woff2");
}

@font-face {
  font-family: "stenorunes";
  src: url("/static/V5rsQDG5ntrWtWj0RJjRZw7pCzXUq8DsWLiV0oCku7s.woff2");
}

:root {
  font-size: 131.25%;
  font-weight: 400;
  line-height: 1.5;
  overflow-wrap: break-word;
  tab-size: 4;
  text-rendering: optimizeLegibility;
  text-underline-offset: 0.1rem;
  font-family: sans-serif, "fairfax-hd", "crisa";
}

*,
:after,
:before {
  background-repeat: no-repeat;
  box-sizing: border-box;
}
:after,
:before {
  text-decoration: inherit;
  vertical-align: inherit;
}
body {
  margin: 0;
  width: 100%;
  background-attachment: fixed;
  min-height: 100vh;
}

/* Typography */

a {
  text-decoration: underline;
  text-underline-offset: 0.125;
  transition: 0.2s ease-in-out;
}

hgroup,
p {
  margin-bottom: 1rem;
}

hgroup > * {
  margin-bottom: 0;
  margin-top: 0;
}

h1 {
  font-size: 2rem;
  line-height: 1.25;
  typography-spacing-top: 3rem;
  font-weight: 700;
}

hgroup > :not(:first-child):last-child {
  font-weight: unset;
  font-size: 1rem;
}

@media (prefers-reduced-motion: reduce) {
  * {
    transition: none !important;
  }
}

/* Utility classes */

#settings-menu-checkbox:not(:checked) ~ #settings-menu:not(:focus):not(:active),
.visually-hidden,
.visually-hidden-focusable:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
.hidden {
  display: none;
}

/* Container styling */

.container,
.container-fluid {
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 100%;
}
@media (min-width: 576px) {
  .container {
    max-width: 510px;
    padding-left: 0;
    padding-right: 0;
  }
  dialog article {
    max-width: 510px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 700px;
  }
}
@media (min-width: 1024px) {
  .container {
    max-width: 950px;
  }
}
@media (min-width: 1280px) {
  .container {
    max-width: 1200px;
  }
}
@media (min-width: 1536px) {
  .container {
    max-width: 1450px;
  }
}

header {
  padding-top: 1rem;
}
