@font-face {
  font-family: "fairfax-hd";
  src: local("Fairfax HD"), url("../webfonts/fairfax-hd-min.woff2");
  unicode-range: U+F1900-F19FF, U+FF900-FFABF, U+FFAC0-FFBFF, U+FFD00-FFDFF;
}
@font-face {
  font-family: "stenodisplay";
  src: local("Stenodisplay ClassicLarge"),
    url("../webfonts/Stenodisplay-ClassicLarge.ttf");
}
@font-face {
  font-family: "stenorunes";
  src: url("../webfonts/steno-runes.woff2");
}
@font-face {
  font-family: "crisa";
  src: local("Crisa Regular"), url("../webfonts/crisa-regular.otf");
  font-weight: 400;
  unicode-range: U+ED80-EDBF;
}

@font-face {
  font-family: "crisa";
  src: local("Crisa Light"), url("../webfonts/crisa-light.otf");
  font-weight: 200;
  unicode-range: U+ED80-EDBF;
}

:where(:root) {
  font-family: sans-serif, "fairfax-hd", "crisa";
}

[lang="en@STN-DISP"] {
  font-family: "stenodisplay", sans-serif, "fairfax-hd", "crisa";
}

[lang="en@STN-RUNE"] {
  font-family: "stenorunes", sans-serif, "fairfax-hd", "crisa";
}
