$typography-spacing-vertical: 1rem;
$spacing: 1rem;
$nav-element-spacing-vertical: 1rem;
$nav-element-spacing-horizontal: 0.5rem;
$border-radius: 0.25rem;
$nav-link-spacing-vertical: 0.5rem;
$nav-link-spacing-horizontal: 0.5rem;
$block-spacing-vertical: $spacing;
$form-element-spacing-horizontal: 1rem;
$form-element-spacing-vertical: 0.75rem;
$line-height: 1.5;
