@use "themes/theming.scss" with (
  $background-image:
    linear-gradient(145deg, #5a0000 0%, 12%, #3b0057 33% 40%, 81%, #000 100%),
  $muted-color: #aaa,
  $primary: #01aaff,
  $primary-hover: #79c0ff,
  $highlight-background-color: #002c43,
  $highlight-color: #79c0ff
);
